/* File last changed: <2023-09-21 Thu 17:12:40> */

.timer-container {
    /* text-align: center; */
}

.timer-svg {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.timer-arc {
    fill: lightgrey;
    stroke: #0074d9;
    stroke-width: 5;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s ease-in-out;
    transform-origin: center center;
    transform: rotate(-90deg);
}

input[type="number"] {
    width: 36px;
    text-align: center;
}

.timer-input {
    font-style: normal !important;
    color: black;
}

.circular-timer-controls {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
}

.time-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circular-timer-container {
    display: flex;
    flex-direction: row;
    font-style: normal !important;
}

@media print {
    .circular-timer-container {
	display: none !important;
    }
}

.button {
    color: black;
    font-style: normal !important;
}

.alarm-clock-icon {
    margin-bottom: -6px;
}
.pulse-element {
    animation: pulse-element-keyframes 2s infinite !important;
}
@keyframes pulse-element-keyframes {
    0% {
	transform: scale(0.85);
    }

    70% {
	transform: scale(1.00);
    }

    100% {
	transform: scale(0.85);
    }
}
.normal-style {
    fill: black;
    font-weight: 100 !important;
}

.alert-style {
    fill: red;
    font-weight: 300 !important;
}


/* Local Variables: */
/* time-stamp-line-limit: 10 */
/* time-stamp-format: "<%Y-%02m-%02d %3a %02H:%02M:%02S>" */
/* time-stamp-active: t */
/* time-stamp-start: "File last changed:[ \t]+" */
/* time-stamp-end: " [*]/$" */
/* End: */
