/* File last changed: <2023-09-10 Sun 21:11:44> */

.timer-container {
    /* text-align: center; */
}

.timer-svg {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.timer-arc {
    fill: lightgrey;
    stroke: #0074d9;
    stroke-width: 5;
    stroke-dasharray: 0, 100;
    transition: stroke-dasharray 1s ease-in-out;
    transform-origin: center center;
    transform: rotate(-90deg);
}

input[type="number"] {
    width: 36px;
    text-align: center;
}

.circular-timer-controls {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
}

.time-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circular-timer-container {
    display: flex;
    flex-direction: row;
}


/* Local Variables: */
/* time-stamp-line-limit: 10 */
/* time-stamp-format: "<%Y-%02m-%02d %3a %02H:%02M:%02S>" */
/* time-stamp-active: t */
/* time-stamp-start: "File last changed:[ \t]+" */
/* time-stamp-end: " [*]/$" */
/* End: */
